<div class="clr-row">
    <div class="clr-col-sm-12 clr-col-lg-3">
        <div class="card" *ngIf="mediumScreen()">
            <div class="card-img">
                <img class="large" src="assets/images/cv-image.png">
            </div>
            <div class="card-block">
                <div class="card-title">
                    Luca Mayer-Dalverny
                </div>
                <div class="card-text">
                    Engineer in Artificial Intelligence and Bio-inspired Software Developement
                </div>
            </div>
        </div>
        <div class="card" *ngIf="!mediumScreen()">
            <div class="card-img">
                <img class="small" src="assets/images/cv-image.png">
            </div>
            <div class="card-block">
                <div class="card-title center">
                    Luca Mayer-Dalverny
                </div>
                <div class="card-text center">
                    Engineer in Artificial Intelligence and Bio-inspired Software Developement
                </div>
            </div>
        </div>
    </div>
    <div class="clr-col-sm-12 clr-col-lg-6">
        <router-outlet></router-outlet>
    </div>
</div>