<div class="clr-row">
  <div class="clr-col-lg-8 clr-col-sm-12">
    <h1>Education</h1>
    <br/>
    <ul class="clr-timeline clr-timeline-vertical">
        <li class="clr-timeline-step">
          <div class="clr-timeline-step-header">2020</div>
          <clr-icon shape="success-standard" aria-label="Completed"></clr-icon>
          <div class="clr-timeline-step-body">
            <span class="clr-timeline-step-title">Engineer Degree</span>
            <span class="clr-timeline-step-description">
              ISEN Méditerranée<br/>
              <img src="assets/images/logo-isen.png" style="width: 150px">
            </span>
          </div>
        </li>
        <li class="clr-timeline-step">
          <div class="clr-timeline-step-header">2015</div>
          <clr-icon shape="success-standard" aria-label="Completed"></clr-icon>
          <div class="clr-timeline-step-body">
            <span class="clr-timeline-step-title">Baccalauréat</span>
            <span class="clr-timeline-step-description">Institut Saint Thomas de Villeneuve</span>
          </div>
        </li>
    </ul>
  </div>
  <div class="clr-col-lg-4 clr-col-sm-12">
    <h1>Certificates</h1>
    <br/>
    <ul class="clr-timeline clr-timeline-vertical">
        <li class="clr-timeline-step">
          <div class="clr-timeline-step-header">2018</div>
          <clr-icon shape="success-standard" aria-label="Completed"></clr-icon>
          <div class="clr-timeline-step-body">
            <span class="clr-timeline-step-title"><a href="https://www.etsglobal.org/fr/en/test-type-family/toeic-listening-and-reading-test" target="_blank">TOEIC</a></span>
            <span class="clr-timeline-step-description">
              Score : 970
            </span>
          </div>
        </li>
        <li class="clr-timeline-step">
          <div class="clr-timeline-step-header">2018</div>
          <clr-icon shape="success-standard" aria-label="Completed"></clr-icon>
          <div class="clr-timeline-step-body">
            <span class="clr-timeline-step-title"><a href="https://www.cambridgeenglish.org/exams-and-tests/advanced/" target="_blank">Cambridge Advanced Certificate</a></span>
            <span class="clr-timeline-step-description">
              Score : 189
            </span>
          </div>
        </li>
        <li class="clr-timeline-step">
          <div class="clr-timeline-step-header">2016</div>
          <clr-icon shape="success-standard" aria-label="Completed"></clr-icon>
          <div class="clr-timeline-step-body">
            <span class="clr-timeline-step-title"><a href="https://www.certificat-voltaire.fr/" target="_blank">Certificat Voltaire</a></span>
            <span class="clr-timeline-step-description">
              Score : 792
            </span>
          </div>
        </li>
    </ul>
  </div>
</div>
