.error-code{
    font-size: 3rem;
    font-weight: 200;
    line-height: 1em;
    opacity: .5;
    margin-top: 0;
}

.error-blurb{
    color: #666;
    color: var(--clr-p1-color,#666);
    font-weight: 400;
    font-weight: var(--clr-p1-font-weight,400);
    font-size: .7rem;
    letter-spacing: normal;
    line-height: 1.2rem;
    margin-bottom: 0;
}