<h1 class="center">Contact</h1>
<div class="clr-row clr-justify-content-center">
    <div class="clr-col-2">
        <div class="card">
            <div class="card-bock"><br/><br/></div>
            <div class="card-img center">
                <clr-icon shape="envelope" size="50"></clr-icon>
            </div>
            <div class="card-bock"><br/></div>
            <div class="card-block center">
                <a href="mailto:luca.mdal@gmail.com">luca.mdal@gmail.com</a>
            </div>
        </div>
    </div>
    <div class="clr-col-2">
        <div class="card">
            <div class="card-bock"><br/><br/></div>
            <div class="card-img center">
                <clr-icon shape="phone-handset" size="50"></clr-icon>
            </div>
            <div class="card-bock"><br/></div>
            <div class="card-block center">
                (+33) 06 23 83 20 42
            </div>
        </div>
    </div>
    <div class="clr-col-2">
        <div class="card">
            <div class="card-bock"><br/><br/></div>
            <div class="card-img center">
                <clr-icon shape="talk-bubbles" size="50"></clr-icon>
            </div>
            <div class="card-bock"><br/></div>
            <div class="card-block center">
                <a href="https://www.linkedin.com/in/luca-mayer-dalverny-baa38a12b/" target="_blank">LinkedIn</a>
            </div>
        </div>
    </div>
    <div class="clr-col-2">
        <div class="card">
            <div class="card-bock"><br/><br/></div>
            <div class="card-img center">
                <clr-icon shape="hashtag" size="50"></clr-icon>
            </div>
            <div class="card-bock"><br/></div>
            <div class="card-block center">
                <a href="https://twitter.com/MayerDalverny" target="_blank">@MayerDalverny</a>
            </div>
        </div>
    </div>
</div>